<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Source Chat Relay</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body class="bg-gray-1000 antialiased w-10/12 mx-auto mt-16">
        <div class="flex mb-16 justify-center text-center flex-wrap xl:flex-no-wrap">
            <div class="bg-gray-100 rounded p-5 mr-6 mb-6 xl:mb-0 w-full break-all">
                <div class="mb-4">
                    <svg class="fill-current w-8 h-8 block mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                </div>
                <div class="mb-2">
                    <span class="font-bold text-xl">{{ .Relay.Statistics.Incoming.MessageCount }}</span>
                    <span class="text-xl">Messages</span>
                </div>
                <div class="mb-2">
                    <span class="font-bold text-xl">{{ byteToMB .Relay.Statistics.Incoming.ByteCount  }}</span>
                    <span class="text-xl">MB</span>
                </div>

                <div>
                    <span class="text-gray-700 uppercase">Incoming Session Traffic</span>
                </div>
            </div>
            <div class="bg-gray-100 rounded p-5 mr-6 w-full break-all">
                <div class="mb-4">
                    <svg class="fill-current w-8 h-8 block mx-auto"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 10v6H7v-6H2l8-8 8 8h-5zM0 18h20v2H0v-2z"/></svg>
                </div>
                <div class="mb-2">
                    <span class="font-bold text-xl">{{ .Relay.Statistics.Outgoing.MessageCount }}</span>
                    <span class="text-xl">Messages</span>
                </div>
                <div class="mb-2">
                    <span class="font-bold text-xl">{{ byteToMB .Relay.Statistics.Outgoing.ByteCount }}</span>
                    <span class="text-xl">MB</span>
                </div>

                <div>
                    <span class="text-gray-700 uppercase">Outgoing Session Traffic</span>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap xl:flex-no-wrap">
            <div class="xl:w-2/5 mr-16 shadow">
                <h2 class="text-white text-2xl mb-2">Route Trace</h2>
                <form method="POST" class="bg-gray-100 rounded p-5">
                    <div>
                        <label class="block text-sm text-gray-700 font-bold my-2">Send Channels</label>
                        <input name="sendChannels" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                    </div>

                    <div>
                        <label class="block text-sm text-gray-700 font-bold my-2">Receive Channels</label>
                        <input name="receiveChannels" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                    </div>

                    <div>
                        <button name="btn" type="submit" value="trace" class="w-full bg-blue-500 hover:bg-green-500 rounded py-2 px-4 text-white mt-4">Trace</button>
                    </div>
                </form>
            </div>
            <div class="flex-auto">
                <h2 class="text-white text-2xl mb-2">Entities</h2>
                <div class="flex flex-wrap">
                    {{ range $value := .Entities }}
                    <form method="POST" class="w-2/8 {{ if $value.Highlighted }} bg-blue-500 text-white {{ else }} bg-gray-100 text-gray-700 {{ end }} rounded p-5 mr-4 block shadow mb-4">
                        <input name="id" type="hidden" value="{{ $value.Entity.ID }}">

                        <div>
                            <span class="block mb-3">{{ $value.Entity.DisplayName }}</span>
                        </div>

                        <div>
                            <label class="block text-sm font-bold my-2">Receive Channels</label>
                            <input name="receiveChannels" type="text" value="{{ humanizeChannelString $value.Entity.ReceiveChannels }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div>
                            <label class="block text-sm font-bold my-2">Send Channels</label>
                            <input name="sendChannels" type="text" value="{{ humanizeChannelString $value.Entity.SendChannels }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div>
                            <label class="block text-sm font-bold my-2">Disabled Receive Types</label>
                            <input name="disabledReceiveTypes" type="text" value="{{ humanizeChannelString $value.Entity.DisabledReceiveTypes }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div>
                            <label class="block text-sm font-bold my-2">Disabled Send Types</label>
                            <input name="disabledSendTypes" type="text" value="{{ humanizeChannelString $value.Entity.DisabledSendTypes }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div class="flex">
                            <button name="btn" type="submit" value="update" class="w-full rounded-r-none bg-green-500 hover:bg-green-700 rounded py-2 px-4 text-white mt-4">Save</button>
                            <button name="btn" type="submit" value="delete" class="bg-red-700 rounded rounded-l-none py-2 px-4 text-white mt-4">
                                <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/></svg>
                            </button>
                        </div>
                    </form>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
