# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# SourceMod Plugin Bin

*.smx

# Go DEP
vendor/*

# VSCODE

.vscode/*

# Config

*.toml

# Output
out/*

# VSCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node
node_modules

# UI build
server/ui/template/dist/*
!server/ui/template/dist/.gitkeep
*-packr.go

# Docs
.cache/
.docz
public
