[General]
# Port to run the relay server on
# Normally users can leave this alone unless specifically needed
Port = 57452

# Message content filter
# If true, create a filter.txt within the same directory as the binary with each line being a regex expression
# Note: can be expensive with a lot of regexes
Filter = false

[Bot]
# Bot token
# You may obtain this at https://discordapp.com/developers/applications/
Token = "Bot Token"

[Database]
# MySQL Database host
Host = "127.0.0.1"

# MySQL Database Username
Username = "relayuser"

# MySQL User Password
Password = ""

# MySQL Database To Use
Database = "relay"

# MySQL Server Port
Port = 3306

# The protocol to parse DSN as.
# Most users can leave this at the default "tcp"
Protocol = "tcp"
