[General]
Port = 57452 # Port to start the socket server on

[Bot]
Token = "Bot Token"

[Database]
Host = "127.0.0.1" # MySQL Database Host
Username = "root" # MySQL Database Username
Password = "" # MySQL User Password
Database = "relay" # MySQL Database To Use
Port = 3306 # MySQL Server Port
Protocol = "tcp" # The protocol to parse DSN as, most users can leave this at default
