[General]
# Port to run the relay server on
# Normally users can leave this alone unless specifically needed
Port = 57452

# Message content filter
# If true, create a filter.txt within the same directory as the binary with each line being a regex expression
# Note: can be expensive with a lot of regexes
Filter = false

[Bot]
# Bot token
# You may obtain this at https://discordapp.com/developers/applications/
Token = "Bot Token"

# Instead of an embed sent by the bot
# You have the option to enable simple message, to display incoming messages as "Name: Message"
# Takes up less room but with less detail
SimpleMessage = false

# If the bot should also listen and transmit other bot's message
# Please beware of an infinite loop with other bots this may cause
ListenToBots = false

[Database]
# MySQL Database host
Host = "127.0.0.1"

# MySQL Database Username
Username = "relayuser"

# MySQL User Password
Password = ""

# MySQL Database To Use
Database = "relay"

# MySQL Server Port
Port = 3306

# The protocol to parse DSN as.
# Most users can leave this at the default "tcp"
Protocol = "tcp"

[UI]
# The UI has NO authentication
# If the UI is exposed to the public, any individual can edit your settings
Enabled = false

# The port to run the UI web server on
Port = 8080

[Telemetry]
# A telemetry service that periodically collects anonymous data
# These data may include (OS, In/Out Traffic Size, Entity Count)
# The data are used to assist and direct the direction of development
Enabled = true
